<h1><center> Add a Link!</h1></center>

  <form action="/links" method = "post" style = 'margin: 0 auto;
    width: 400px;
    /* To see the outline of the form */
    padding: 1em;
    padding-top: 20px;
    display: block;
    margin: auto;'>
    <div>
        <input type="text" name="title">
        <input type="text" name ="url">
      	<input type="submit" value = "Add a link">
  	</div>
  </form>
